.filter-button {
  width: 107px;
  height: 34px;
  border: 1px solid #cfcfcf;
  color: #2a2a2a;
  text-align: center;

  &:hover {
    color: #2a2a2a;
  }
}

.furniture-section {
  padding: 0 15px;
  margin: auto;
  display: flex;
}

@media screen and (max-width: 767px) {
  .furniture-section {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .furniture-section {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .furniture-section {
    max-width: 1140px;
  }
}

.furniture-line {
  height: 1px;
  background: black;
}

.product-pic1 {
  background-image: url("../img/products/furniture/1.png");
}

.product-pic2 {
  background-image: url("../img/products/furniture/2.png");
}

.product-pic3 {
  background-image: url("../img/products/furniture/4.png");
}
.product-pic4 {
  background-image: url("../img/products/furniture/3.png");
}
.product-pic5 {
  background-image: url("../img/products/furniture/5.png");
}
.product-pic6 {
  background-image: url("../img/products/furniture/6.png");
}
.product-pic7 {
  background-image: url("../img/products/furniture/7.png");
}
.product-pic8 {
  background-image: url("../img/products/furniture/8.png");
}
.product-pic9 {
  background-image: url("../img/products/furniture/9.png");
}
.product-pic10 {
  background-image: url("../img/products/furniture/14.png");
}
.product-pic11 {
  background-image: url("../img/products/furniture/15.png");
}
.product-pic12 {
  background-image: url("../img/products/furniture/16.png");
}
.product-pic13 {
  background-image: url("../img/products/furniture/10.png");
}
.product-pic14 {
  background-image: url("../img/products/furniture/11.png");
}
.product-pic15 {
  background-image: url("../img/products/furniture/12.png");
}
.product-pic16 {
  background-image: url("../img/products/furniture/13.png");
}
.product-pic17 {
  background-image: url("../img/products/furniture/17.png");
}
.product-pic18 {
  background-image: url("../img/products/furniture/18.png");
}
.product-pic19 {
  background-image: url("../img/products/furniture/19.png");
}
.product-pic20 {
  background-image: url("../img/products/furniture/20.png");
}
.furniture-block {
  width: 262px;
  height: 260px;
  background-color: #f4f5f7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.filters-xl {
  display: none;
}

@media screen and (min-width: 1200px) {
  .furniture-xl {
    width: 850px;
  }

  .filters-xl {
    display: block;
    width: 290px;
  }
}

.filters-side-container {
  width: 100%;
}

.furniture-container {
  width: 262px;
}

.furniture-block-info {
  width: 262px;
  height: 150px;
  border: 1px solid #e2e2e2;
  border-top-color: #f4f5f7;
}

.sale-text {
  font-size: 12px;
  vertical-align: top;
}

.furniture-line-color {
  width: 245px;
  height: 1px;
  background-color: black;
}

.furniture-line-color::before {
  content: "";
  position: relative;
  top: -1px;
  left: 107.5px;
  width: 30px;
  height: 3px;
  display: block;
  background-color: orange;
}

.furniture-block-title {
  font-size: 16px;
  color: rgba(42, 42, 42, 255);
}

.sale-radius {
  display: none;
  width: 43px;
  height: 21px;
  border: 2px solid black;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background-color: #000;
}

.hover-block-buttons {
  position: relative;
  top: 206px;
  display: none;
}

.furniture-container:hover .hover-block-buttons,
.furniture-container:hover .sale-radius {
  display: block;
}
.furniture-container:hover .furniture-block-title {
  color: #d58e32;
}

.button-view {
  background-color: black;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-cart {
  font-size: 13px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.furniture-block-price {
  background-color: black;
  width: 78px;
  height: 37px;
  font-size: 18px;
}

.furniture-info-icon {
  border: 1px solid #2a2a2a;
  width: 37px;
  height: 37px;
  padding-top: 6px;
}
.fa-refresh {
  font-size: 24px;
}
.line-break {
  flex-basis: 100%;
}

.load-more {
  background-color: #eeeeee;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 7px rgba(0,0,0,0.5);
  display: block;
  margin: 0 auto;
}

#filterSliderPriceXl .slider-track-high {
  background: white;
}

#filterSliderPriceXl .slider-track-low {
  background: white;
}

#filterSliderPriceXl .slider-selection {
  background: black;
  border-radius: 0!important;
}
