.bazar-header {
  background-color: #363636;
  z-index: 3;

  &__content-header {
    height: 145px;
  }
}

.content-header__contact {
  font-size: 17px;
  font-weight: 600;
  align-items: center;

  .contact-tel {
    color: #d8d8d8;
    text-decoration: none;
    position: relative;
    @media screen and (min-width: 768px) {
      margin-left: 30px;
    }

    &:hover {
      border-bottom: 1px solid #d8d8d8;
    }

    @media screen and (min-width: 768px) {
      &:before {
        content: '\f10b';
        font-family: FontAwesome;
        font-weight: 400;
        color: $main-color;
        font-size: 44px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-33%) translateX(calc(100% + -45px));
      }
    }
  }
}

.logo-link {
max-width: 115px;

  @media screen and (min-width: 768px) {
    max-width: 165px;
  }
}

.content-header__cart {
  text-align: right;

  .cart-item {
    color: white;
    margin-right: 20px;
    position: relative;

    i {
      font-size: 17px;
      line-height: 2;
      background-color: $main-color;
      border-radius: 3px;
      padding: 5px 14px;

      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }

    &-qty {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-7px);
      line-height: 0.5;
      font-size: 12px;
      display: inline-block;
      padding: 10px;
      background-color: #363636;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }

  }
}

.nav-container {
  position: relative;
}

.bazar-main-nav {
  height: 85px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  z-index: 3;
}

.search {
  width: 225px;
  height: 45px;
  z-index: 4;

  &-input {
    border: solid #464646;
    border-width: 1px 0 1px 1px;
    border-radius: 0;
    height: 100%;

  }

  &-btn {
    background-color: transparent;
    color: black;
    border: solid #464646;
    border-width: 1px 1px 1px 0;
    border-radius: 0;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }

  @media screen and (min-width: 768px){
    width: 320px;

  }
}

.main-nav {
  font-size: 0;

  &__link {
    text-decoration: none;
    color: #383838;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $font-semibold;
    padding: 29px 13px 33px 13px;
    border-top: 4px solid transparent;

    &:hover {
      text-decoration: none;
      border-top: 4px solid #2a2a2a;
      background-color: $main-color;
      color: white;
    }
  }
}

.link--active {
  border-top: 4px solid #2a2a2a;
  background-color: $main-color;
  color: white;
}

.burger-btn {
  margin-right: 15px;

  &-element {
    display: inline-block;
    height: 3px;
    width: 30px;
    position: relative;
    background-color: #000;
    z-index: 6;

    &:after, &:before{
      content: '';
      height: 3px;
      width: 30px;
      background-color: #000;
      position: absolute;
      left: 0;
      transition: 300ms;
    }

    &:before{
      top: -5px;
    }

    &:after{
      top: 5px;
    }

    &-active {
      background-color: transparent;

      &:after, &:before {
        background-color: #fff;
      }

      &:after {
        transform: rotate(45deg);
        top: 0;
        transition: 300ms;
      }

      &:before {
        transform: rotate(-45deg);
        top: 0;
        transition: 300ms;
      }
    }
  }
}

.main-nav-mobile__link {
  position: absolute;
  background-color: #363636;
  width: 135px;
  list-style: none;
  top: 0;
  right: 15px;
  z-index: 5;
}

.link-item {
  padding: 8px 10px;
  text-align: right;

  &:first-child {
    padding-top: 110px;
  }
}

.item {
  font-size: 14px;
  text-transform: uppercase;
  color: #a7a7a7;

  &:hover {
    color: #a7a7a7;
    text-decoration: none;
  }

  &-active {
    font-weight: $font-semibold;
    color: white;
    border-bottom: 1px solid #646464;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;

    &:hover {
      color: white;
    }
  }
}