@media screen and (max-width: 767px) {
  .modal-dialog {
    max-width: 420px!important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-dialog {
    max-width: 750px!important;
  }
}

@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 1140px!important;
  }
}

.furniture-block-modal {
  width: 262px;
  height: 260px;
  background-color: #f4f5f7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .furniture-block-modal {
    width: 307px;
    height: 286px;
  }
}
@media screen and (min-width: 1200px) {
  .furniture-block-modal {
    width: 436px;
    height: 406px;
  }
}

.quickView-title {
  font-size: 23px;
}
.modal-color {
  background-color: #cccccc;
  height: 1px;
}
.fa-star-o {
  color: #cccccc;
}
.furniture-review {
  color: #cccccc;
  font-size: 16px;
}
.sale-price {
  font-size: 15px;
  color: rgba(147, 147, 147, 255);
}
.new-price {
  background-color: black;
  font-size: 18px;
}
.cart-modal {
  background-color: #d58e32;
}
.modal-info-title {
  font-size: 15px;
  color: #383838;
}
.modal-info-text {
  font-size: 14px;
  color: rgba(103, 103, 103, 255);
}
.stock-title {
  font-size: 14px;
  color: rgba(42, 42, 42, 255);
}
.stock {
  color: #909090;
  font-size: 13px;
}

.social-button {
  color: #888888;
  font-size: 13px;
  border: 1px solid #2a2a2a;
}
.social-button:hover {
  background-color: #3b5998;
  color: white;
}
.social-button:hover i {
  color: white;
}
.social-media-block i {
  font-size: 16px;
}
.fa-facebook {
  color: blue;
}
.fa-google-plus {
color: #d62d20;
}
.fa-twitter {
  color: #4099ff;
}
.fa-pinterest-p {
  color: #d44e53;
}
.fa-linkedin {
  color:   #0077b5;
}