@media screen and (min-width: 768px) {
  .modal-width {
    max-width: 556px!important;
  }
}

.filter-title {
  font-size: 16px;
}
.filter-title-line {
  height: 1px;
  width: 100%;
  background: black;
}
.close-button {
  width: 41px;
  height: 39px;
  background: black;
  opacity: unset;
  text-shadow: none;
  line-height: 0;
}
.categories {
  width: 230px;
}
.category-item {
  font-size: 13px;
  color: black;
}
.category-amount-circle {
  text-align: center;
  width: 23px;
  height: 23px;
  background-color: black;
  border-radius: 50%;
  font-size: 13px;
  padding-top: 2px;
  color: white;
}

.checkbox-categories:checked + label > .category-item {
  color: orange;
}

.checkbox-categories:checked + label > .category-amount-circle {
  background-color: orange;
}

#filterSliderPrice .slider-track-high {
  background: white;
}

#filterSliderPrice .slider-track-low {
  background: white;
}

#filterSliderPrice .slider-selection {
  background: black;
  border-radius: 0!important;
}

.slider-track {
  height: 8px!important;
  width: 197px!important;
}
.slider-handle {
  top: 1px!important;
  width: 16px!important;
  height: 16px!important;
  background-color: white!important;
  background-image: none!important;
border: 2px solid #d58e32!important;
}

.slider-track-low, .slider-track-high {
  border: 1px solid gray!important;
  border-radius: 2px!important;
}
.slider-horizontal {
  margin-left: 4px;
}

.filter-button-range {
  width: 62px;
  height: 32px;
  background-color: #d58e32;
  border: 0;
  font-size: 14px;
}
.filter-range-price {
  font-size: 14px;
  color: rgba(42, 42, 42, 255);
  border: 1px solid #e1e1e1;
}

.category-color-box {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: white;
  border-radius: 3px;
  float: left;
}

$colors: "fa5f66" "454545" "e9e600" "0190d3" "f72fe4" "14d400";

@each $color in $colors {
  .color-#{$color} {
    background-color: #{"#" + $color};
  }
}

.category-color-box > i {
  position: relative;
  top: -7px;
  left: 2px;
  font-size: 10px;
  display: none;
}

.checkbox-color:checked + label i {
  display: inline-block;
}

.category-color {
  display: inline-block;
  font-size: 13px;
  float: left;
  line-height: 16px;
}
.category-size-box {
  display: inline-block;
  font-size: 13pt;
  width: 14px;
  height: 14px;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
}
.category-size {
  font-size: 14px;
  color: black;
  display: inline-block;
}
.category-size-box > i {
  position: relative;
  top: -9px;
  left: 1px;
  font-size: 10px;
  color: white;
  display: none;
}

.size-box:checked + label > .category-size-box  {
  background-color: #d58e32;
  border-color:#d58e32 ;
}

.size-box:checked + label i {
  display: inline-block;
}
.size-box:checked + label > .category-amount-circle {
  background-color: orange;
}
.size-box:checked + label > .category-size {
  color: #d58e32;
}
.text-tag {
  font-size: 14px;
  color: rgba(149, 149, 149, 255);
}
.tag:checked +label > .text-tag {
  color: #d58e32;
}
.tag:checked +label i {
  color: #d58e32;
}
.tag:checked + label {
  border-color: #d58e32!important;
}