.bazar-navbar {
  height: 56px;
  align-items: center;
  background-color: #434343;
}

.navbar__right-section, .navbar__left-section {
  margin: 0;
  padding: 0;
}

.left-section__item {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  font-size: 13px;

  &:not(:last-child) {
    padding-right: 35px;
  }
}

.item-link {
  cursor: pointer;
  &:hover {
    border-bottom:  1px solid white;
  }
}

.right-section__item {
  display: inline-block;
  list-style: none;
  font-size: 13px;

  &:first-child {
    padding-right: 30px;
  }

}

.bazar-login-btn {
  cursor: pointer;
  &:hover {
    border-bottom:  1px solid white;
  }
}
