@media screen and (min-width: 1200px) {
  .stocks-block {
    height: 420px;
  }
}

.stocks-image {
  background-image: url("../img/stocks/1.jpg");
  background-size: cover;
  width: 555px;
  height: 420px;
  position: relative;
}
.stocks-image-shadow {
  width: 489px;
  height: 355px;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
  position: absolute;
  top: 8%;
  left: 6%;
}
.stocks-image-text {
padding-top: 150px;
}
.image-line1 {
  font-size: 30px;
}
.image-line2 {
  font-size: 45px;
}
.discount {
  font-size: 50px;
  border: 4px solid white;
}
.chair-block {
  background-color: #e8edf7;
  width: 450px;
  height: 130px;
}
.chair {
  background-image: url("../img/stocks/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 100%;
}
.chair2 {
  background-image: url("../img/stocks/3.png");
  background-size: cover;
  width: 110px;
  height: 100%;
  transform: rotateY(180deg);
}
.text-line1 {
  font-size: 26px;
}
.text-line2 {
  font-size: 17px;
}
.price {
  color: #d58e32;
  font-size: 28px;
}
.special-block {
  background-color: #fbf3f7;
  width: 450px;
  height: 135px;
}
.bed-img {
  background-image: url("../img/stocks/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  width: 200px;
  height: 100%;
}
.special-block-text1 {
  color: #d58e32;
  font-size: 18px;
}
.special-block-text2 {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .chair-block  {
    width: 555px;
    height: 195px;
  }
  .chair {
    width: 163px;
  }
  .chair2 {
    width: 168px;
  }
  .text-line1 {
    font-size: 30px;
  }
  .text-line2 {
    font-size: 20px;
  }
  .price {
    font-size: 36px;
  }
  .special-block {
    width: 555px;
    height: 195px;
  }
  .bed-img {
    width: 275px;
  }
  .special-block-text1 {
    font-size: 24px;
  }
  .special-block-text2 {
    font-size: 17px;
  }
}