.title-blog {
  font-size: 20pt;
  color: rgba(213, 142, 50, 255);
}
.colored-line {
  width: 44px;
  height: 3px;
  background-color: rgba(213, 142, 50, 255);
}
.grey-line {
  background-color: #e2e2e2;
  height: 3px;
}
.fa-angle {
  color: black;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  padding-top: 6px;
    &:hover {
      color: white;
    }
}
.angle-block:hover {
  background-color: rgba(213, 142, 50, 255);
}

.arrow-blocks {
  margin-top: -14px;
}
.blog-par {
  height: 547px;
}

.blog-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  width: 360px;
  height: 290px;
  font-size: 13px;
}
.card-1 {
  background-image: url("../img/blog/1.jpg");
}
.card-2 {
  background-image: url("../img/blog/2.jpg");
}
.card-3 {
background-image: url("../img/blog/3.jpg");
}
.blog-text {
  background-color: white;
  top: 220px;
  position: relative;
  width: 80%;
  margin: auto;
}
.blog-link {
  color: #9a9a9a;
}
.fa-comments {
  color: black;
}
.blog-title {
  font-size: 16px;
  color: rgba(213, 142, 50, 255);
}
.blog-paragraph {
  font-size: 14px;
  color: rgba(103, 103, 103, 255);
}
.load-button {
  color: white;
  font-size: 16px;
  background-color: rgba(213, 142, 50, 255);
}

.dot-block-md {
  margin-top: -4px;
    &-dots {
      border: 6px solid #e2e2e2;
      border-radius: 50%;
        &:hover{
          border-color: #d58e32;
        }
    }
}

.medium-container {
  width: 750px;
  margin-left: auto;
  margin-right: auto}

.carousel-indicators {
  position: static!important;
  margin-right: 0!important;
  margin-left: 0!important;
}

.carousel-indicators .active {
  border-color: #d58e32;
}
