$main-color: #d58e32;
$font: 'Poppins', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

.bazar-title {
  color: #2a2a2a;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.bazar-title--orange {
  color: $main-color;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.bazar-hline {
  height: 3px;
  width: 100%;
  background-color: #e2e2e2;
  position: relative;
  margin: 0;
  border: none;

  &::before {
    content: '';
    width: 44px;
    height: 3px;
    background-color: $main-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}