.bazar-features {
  margin-bottom: 80px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }

  &__item {
    color: #2a2a2a;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    max-width: 263px;
    font-weight: $font-light;
    padding: 52px 0 22px;
    margin: 70px auto 30px;
    position: relative;

    &:hover {
      color: #e0a38e;
    }

    &:hover &__icon {
      border-color: $main-color;
    }

    &:hover &__icon i {
      background-color: $main-color;
      border-color: $main-color;
      color: white;
    }

    &__icon {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      padding: 7px;
      border: 1px solid #d9d9d9;
      border-radius: 100%;

      i {
        border-radius: 100%;
        border: 1px solid #d9d9d9;
        font-size: 26px;
        width: 62px;
        height: 62px;
      }
    }

    &__title {
      font-weight: $font-semibold;
      font-size: 20px;
      color: inherit;
    }

    &__description {
      font-size: 20px;
      color: inherit;
    }
  }
}
