.footer {
  background-color: #363636;
}
.footer-information-title {
  font-size: 22px;
  text-transform: uppercase;
}
.footer-information li {
  list-style: none;
}

//.cards-container {
//  width: 132px;
//  display: flex;
//  flex-wrap: wrap;
//}

.information-links {
  font-size: 14px;
  color: rgba(169, 169, 169, 255);
  text-align: left;
    &:hover {
      color:rgba(169, 169, 169, 255);
      border-bottom:1px solid #d8d8d8;
    }
}
.footer-line {
  background-color: #2a2a2a;
}
.footer-text {
  color: rgba(161, 161, 161, 255);
}

.footer-span {
  padding-right: 5px;

  &::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #777777;
    display: inline-block;
    margin-left: 5px;
  }
}
.copy {
  padding-right: 5px;
}
.icons {
  color: rgba(161, 161, 161, 255);
    &:hover {
      color: rgba(213, 142, 50, 255);
    }
}



