.bazar-gallery {

  &__tabs {
    margin-top: 30px;
  }
}

.tabs-nav .nav-tabs .nav-link {

  text-transform: uppercase;
  font-weight: $font-semibold;
  color: #2a2a2a;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #E2E2E2;
  border-radius: 0;

  &:first-child {
    border-left: 1px solid #E2E2E2;
  }

  &.active {
    border-top: 3px solid $main-color;
    color: $main-color;
    background-color: #f4f5f7;
  }
}

.bazar-gallery__tabs .tab-content {
  background-color: #f4f5f7;
}

.bazar-gallery__baner {
  background-color: #e8edf7;
  height: 600px;
}

.baner__info {
  padding: 58px 60px 10px;
}

.info--price-info {
  font-size: 18px;
  font-weight: $font-semibold;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 0;
}

.info--price {
  color: #79ae30;
  font-size: 48px;
}

.info--title {
  font-size: 48px;
  color: $main-color;
  font-weight: $font-semibold;
  margin-bottom: 45px;
}

.info--button {
  padding: 17px 29px;
  background-color: #79ae30;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 2px;
  font-size: 14px;

  &:hover {
    color: white;
  }
}

.baner__img-container {
  padding: 30px 50px 30px 35px;
}

.baner__img {
  transform: scale(-1, 1)
}

.nav-tabs .nav-link {
  border: none;
}

.bazar-gallery-content {
  padding-top: .5rem;
  border-color: #e5e5e5;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.bazar-product-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.product-nav-wrapper {
  padding: 0;

  &--item {
    cursor: pointer;
    font-size: 16px;
    list-style-type: none;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #2a2a2a;
    margin: 8px 0 8px 0;

    &:hover {
      border-color: $main-color;
      color: $main-color;
    }
  }
}

.bazar-gallery__iner {

  & div {

    & img {
      height: 400px;
    }
  }
}

.bazar-carousel-indicator__thumbnail {

  margin: 0;

  & .active {
    border-color: transparent;
  }

  & li {
    height: 90px;
    width: 70px;
    background-color: #d3d3d3;
    padding: 8px 4px 4px 4px;
    box-sizing: border-box;

    & img {
      height: 100%;
    }
  }
}

.bazar-product-desc {
  position: absolute;
  right: 0;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .gallery-product-price {
    height: 105px;
    width: 105px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    flex-direction: column;
    margin-bottom: -15px;
    z-index: 10;

    & .gallery-product-price--item {
      font-weight: $font-semibold;
      font-size: 20px;
      margin: 0;
      line-height: 2;
    }

    & .gallery-product-price--disc-item {
      font-size: 16px;
      text-decoration: line-through;
      margin: 0;
    }
  }
}

.gallery-product-desc {
  height: 105px;
  width: 250px;
  background-color: white;
  z-index: 5;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    background-color: #2a2a2a;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30px, -30px) rotate(45deg);
  }

  &::after {
    content: '';
    display: block;
    background-color: #2a2a2a;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30px, 30px) rotate(45deg);
  }

  & .gallery-product-desc--title {
    font-size: 16px;
    font-weight: $font-semibold;
    color: #2a2a2a;
    text-align: center;
  }

  & .gallery-product-desc--rated {
    text-align: center;
  }
}

.gallery-slide-nav {
  background-color: white;
  border-width: 1px 0 0 0;
  border-color: #e5e5e5;
  border-style: solid;
}

.bazar-next-slide {
  width: 35px;
  height: 70px;
  background-color: #2a2a2a;
  color: white;
  font-size: 12px;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}
