.bazar-modal {
  border-radius: 0;
  border: none;
  position: relative;

  &-header {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    //padding: 1.5rem 2rem 2.5rem 2rem;

    &__contol {

    }
  }

  &--title-empty-cart {
    color: #939393;
    font-size: 48px;
    font-weight: $font-semibold;
    text-align: center;
    margin: 25px 0;
  }

  &--desc-empty-cart {
    color: #939393;
    text-align: center;
    margin: 10px 0 65px 0;
    font-weight: $font-light;

  }

  &__cart-item {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 576px) {
  .bazar-modal-content {
    padding: 1.5rem 2rem 2.5rem 2rem;
  }

}

.bazar-modal-title {
  font-family: $font;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: $font-semibold;
}

.bazar-close-modal {
  opacity: 1;
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 7px 18px;
  cursor: pointer;

  & i {
    font-size: 18px;
    line-height: 2;
  }
}

.bazar-login-form {
  padding-top: 15px;
}

.bazar-form-input {
  border: 1px solid #cecece;
  border-radius: 0;
  padding: 20px 10px 25px;

}

.bazar-button {
  font-family: $font;
  border: none;
  border-radius: 3px;
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  font-weight: $font-semibold;
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.15);
}

.cart-list--item {
  background-color: #cccccc;
}

.cart-item--img {
  flex: 0 1 250px;
}

.title-prod {
  font-size: 22px;
  font-weight: $font-semibold;
  color: #2a2a2a;

  @media screen and (min-width: 1280px) {
    white-space: nowrap;
  }
}

.cart-item--price {
  padding-top: 25px;
}

.discount-price {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: $font-light;
  color: #939393;
  padding-right: 10px;
}

.price-modal {
  font-size: 22px;
  font-weight: $font-semibold;
  color: white;
  background-color: #2a2a2a;
  padding: 0 10px;

  &-cart {
    padding-bottom: 25px;
  }
}

.cart-item--qty {
  margin-bottom: 25px;

  //@media screen and (min-width: 768px) {
  //  margin-top: 50px;
  //}

  @media screen and (min-width: 1280px) {
    margin-top: 72px;
  }

  & div {
    font-size: 14px;
    font-weight: $font-medium;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-right: 20px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 40px;
    }
  }
}

.quantity {
  max-width: 71px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  font-weight: $font-medium;
  font-size: 14px;
  color: #2a2a2a;
  //margin-left: 30px;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &:focus {
    outline: none;
  }
}

.btn-quantity {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 35px;
  position: relative;
  border-color: #2a2a2a;
  font-weight: $font-semibold;
  font-size: 12px;
  margin-left: 7px;

  &:focus {
    outline: none;
  }

  &--plus {
    border-color: $main-color;
    color: $main-color;
  }
}

.cart-item--sum {
  margin-bottom: 20px;
  text-align: right;
  font-size: 22px;
  font-weight: $font-semibold;

  //@media screen and (min-width: 768px) {
  //  margin-top: 50px;
  //}

  @media screen and (min-width: 1280px) {
    margin-top: 72px;
  }

  &::before {
    content: 'Sum';
    position: absolute;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
    font-size: 20px;
    font-weight: $font-light;
    color: #939393;

    @media screen and (min-width: 1280px) {
      transform: translateY(-100%) translateX(15%);
    }
  }

}

.btn-control {
  text-transform: uppercase;
  font-weight: $font-semibold;
  color: white;
  padding: 10px 35px 10px 35px;
  font-size: 13px;
  position: relative;

  &--continue {
    background-color: #939393;
    color: white;

    &::before {
      content: '\f105';
      font-size: 16px;
      font-family: FontAwesome;
      position: absolute;
      top: 48%;
      transform: translateY(-50%) translateX(-285%);
    }

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  &--buy {
    background-color: $main-color;

    &::before {
      content: '\f291';
      font-size: 16px;
      font-family: FontAwesome;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-150%);
    }

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.price-cart {
  font-size: 22px;
  padding-bottom: 20px;
}

.control--left-btn {
  align-self: flex-end;
}

.bazar-modal-xl {
  max-width: 420px;

  @media screen and (min-width: 768px) {
    max-width: 750px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1140px;
  }
}