.bazar-top-slider {

  margin-bottom: 15px;

  &__area {
    background: #2a2a2a;
    height: 302px;

    @media (min-width: 768px) {
      height: 505px;
    }

    &--title {
      font-size: 36px;
      font-weight: $font-light;

      @media (min-width: 768px) {
        font-size: 54px;

        strong {
          font-weight: $font-semibold;
        }
      }
    }

    &__description {
      color: #fff;
      font-size: 18px;
      font-weight: $font-light;
      text-transform: uppercase;
      margin: 0 0 36px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    &__btn {
      padding: 16px 30px;
      background: #fff;
      color: #2a2a2a;
      font-size: 14px;
      font-weight: $font-semibold;

      @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 83%;
    }

    &__content {
      top: calc(50% - 20px);
      left: 50%;
      width: calc(100% - 30px);
      height: 215px;
      background: rgba(0,0,0, .5);
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      padding: 0 15px;
      z-index: 0;

      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }
}

.slider-control {
  background: #2a2a2a;
  bottom: 0;
  height: 39px;

  &--item {
    color: #fff;
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: #fff;
      background: #d58e32;
    }
  }
}