#subscribe-block {
  background-color: #f2f2f2;
  height: 119px;
}
.form-title {
  font-size: 22px;
  color: rgba(213, 142, 50, 255);
}
.fa-envelope {
  font-size: 18px;
  color: rgba(213, 142, 50, 255);
}
.subscribe-field {
  font-size: 14px;
  color: rgba(180, 180, 180, 255);
  text-align: left;
  padding: 0;
}
.fa-arrow-right {
  color: rgba(213, 142, 50, 255);
}
.input-field {
  padding: 0;
  margin-bottom: 8px;
}
.input-container::before {
  position: absolute;
  top: 28%;
  left: -2px;
  width: 1px;
  height: 17px;
  background: #bfbfbf;
  content: '';
  display: block;
}
.input-wrapper {
  min-width: 90px;
  max-width: 486px;
}
