<section class="blog-block my-5">
    <div id="carousel-xs" class="container carousel slide d-md-none" data-ride="carousel">
        <h4 class="title-blog text-uppercase">latest blog</h4>
        <div id="control-block" class="d-flex justify-content-center mb-4">
            <div class="colored-line"></div>
            <div class="grey-line flex-grow-1"></div>
            <div class="arrow-blocks d-flex">
                <a href="#carousel-xs" role="button" data-slide="prev">
                    <div class="text-center ml-1 angle-block"><i class="fa fa-angle-left fa-angle"
                                                                 aria-hidden="true"></i></div>
                </a>
                <a href="#carousel-xs" role="button" data-slide="next">
                    <div class="text-center ml-1 angle-block"><i class="fa fa-angle-right fa-angle"
                                                                 aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div class="carousel-inner blog-par">
            <div class="w-100 carousel-item active">
                <div class="blog-card card-1 m-auto">
                    <div class="blog-text pt-4">
                        <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i class="fa fa-calendar"
                                                                                                  aria-hidden="true"></i>
                            15 Jan 2016</a>
                        <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                        <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                        <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                            Vivamus eget luctus nisi.
                            Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                            enim.
                        </p>
                        <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                    </div>
                </div>
            </div>
            <div class="w-100 carousel-item">
                <div class="blog-card card-2 m-auto">
                    <div class="blog-text pt-4">
                        <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i class="fa fa-calendar"
                                                                                                  aria-hidden="true"></i>
                            15 Jan 2016</a>
                        <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                        <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                        <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                            Vivamus eget luctus nisi.
                            Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                            enim.
                        </p>
                        <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                    </div>
                </div>
            </div>
            <div class="w-100 carousel-item">
                <div class="blog-card card-3 m-auto">
                    <div class="blog-text pt-4">
                        <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i class="fa fa-calendar"
                                                                                                  aria-hidden="true"></i>
                            15 Jan 2016</a>
                        <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                        <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                        <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                            Vivamus eget luctus nisi.
                            Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare
                            enim.
                        </p>
                        <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel-md" class="d-none medium-container carousel slide d-md-block d-xl-none" data-ride="carousel">
        <h4 class="title-blog text-uppercase">latest blog</h4>
        <div id="control-block-md" class="d-flex justify-content-center mb-4">
            <div class="colored-line"></div>
            <div class="grey-line flex-grow-1"></div>
            <div class="dot-block-md d-flex carousel-indicators">
                    <div data-target="#carousel-md" data-slide-to="0" class="dot-block-md-dots ml-2 active"></div>
                    <div data-target="#carousel-md" data-slide-to="1" class="dot-block-md-dots ml-2"></div>
                    <div data-target="#carousel-md" data-slide-to="2" class="dot-block-md-dots ml-2"></div>
                    <div data-target="#carousel-md" data-slide-to="3" class="dot-block-md-dots ml-2"></div>
            </div>
        </div>
        <div class="carousel-inner blog-par">
            <div class="carousel-item active">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-2">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-3">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-2">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-3">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel-xl" class="d-none container px-0 carousel slide d-xl-block" data-ride="carousel">
        <h4 class="title-blog text-uppercase">latest blog</h4>
        <div id="control-block-xl" class="d-flex justify-content-center mb-4">
            <div class="colored-line"></div>
            <div class="grey-line flex-grow-1"></div>
            <div class="dot-block-md d-flex carousel-indicators">
                <div data-target="#carousel-xl" data-slide-to="0" class="dot-block-md-dots ml-2 active"></div>
                <div data-target="#carousel-xl" data-slide-to="1" class="dot-block-md-dots ml-2"></div>
                <div data-target="#carousel-xl" data-slide-to="2" class="dot-block-md-dots ml-2"></div>
            </div>
        </div>
        <div class="carousel-inner blog-par">
            <div class="carousel-item active">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-2">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-3">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-2">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-3">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="w-100 d-flex justify-content-between">
                    <div class="blog-card card-3">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-1">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                    <div class="blog-card card-2">
                        <div class="blog-text pt-4">
                            <a href="" class="blog-link text-uppercase text-decoration-none pl-4 "><i
                                    class="fa fa-calendar" aria-hidden="true"></i> 15 Jan 2016</a>
                            <a href="" class="blog-link text-capitalize text-decoration-none pl-4 "><i
                                    class="fa fa-comments" aria-hidden="true"></i> 4 comments</a>
                            <h3 class="blog-title pt-5 pb-3">Products That Fight Static</h3>
                            <p class="blog-paragraph text-left mb-5">Aliquam dictum pellentesque nibh sit amet dapibus.
                                Vivamus eget luctus nisi.
                                Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in,
                                ornare enim.
                            </p>
                            <a href="" class="load-button text-decoration-none py-3 px-5 ml-5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>