<section class="furniture-section px-0">
    <div class="furniture-xl mx-auto mx-xl-0">
        <div class="d-flex justify-content-between mb-3">
            <h2 class="bazar-title mb-0 mt-2">furniture</h2>
            <a href="#" class="filter-button text-decoration-none pt-1 d-xl-none" data-toggle="modal"
               data-target="#filter-xs">
                <i class="fa fa-th-list pr-2" aria-hidden="true"></i>Filters by</a>
        </div>
        <div class="furniture-line"></div>
        <div class="col-12 mt-4 mb-4 d-md-flex flex-wrap justify-content-between justify-content-md-around px-0" id="product-items">
            <div class="furniture-container mx-auto mx-md-0 mb-4" data-product="0">
                <div class="furniture-block product-pic1 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="0">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4" data-product="1">
                <div class="furniture-block product-pic2 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="1">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4" data-product="2">
                <div class="furniture-block product-pic3 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="2">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2 clearfix">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2 float-right">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-md-block" data-product="3">
                <div class="furniture-block product-pic4 mx-auto ">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="3">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-xl-block" data-product="4">
                <div class="furniture-block product-pic5 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="4">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-xl-block" data-product="5">
                <div class="furniture-block product-pic6 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="5">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-xl-block" data-product="6">
                <div class="furniture-block product-pic7 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="6">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-xl-block" data-product="7">
                <div class="furniture-block product-pic8 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="7">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none d-xl-block" data-product="8">
                <div class="furniture-block product-pic9 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="8">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="9">
                <div class="furniture-block product-pic10 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="9">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="10">
                <div class="furniture-block product-pic11 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="10">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="11">
                <div class="furniture-block product-pic12 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="12">
                <div class="furniture-block product-pic13 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="13">
                <div class="furniture-block product-pic14 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="14">
                <div class="furniture-block product-pic15 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="15">
                <div class="furniture-block product-pic16 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="16">
                <div class="furniture-block product-pic17 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="17">
                <div class="furniture-block product-pic18 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                        <div class="d-none d-xl-block sale-price float-right px-xl-2 py-xl-2"><s>$35.00</s></div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="18">
                <div class="furniture-block product-pic19 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="furniture-container mx-auto mx-md-0 mb-4 d-none" data-product="19">
                <div class="furniture-block product-pic20 mx-auto">
                    <div class="sale-radius mx-auto"><span class="text-white sale-text pl-2">sale</span></div>
                    <div class="hover-block-buttons ml-3">
                        <a href="#" class="button-view text-decoration-none text-white px-2 mr-3" data-toggle="modal"
                           data-target="#quickView" data-product="11">Quick View</a>
                        <a href="#" class="button-cart text-decoration-none text-uppercase text-white px-2"><i
                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to cart</a>
                    </div>
                </div>
                <div class="furniture-block-info mx-auto">
                    <div class="furniture-info my-3 text-center">
                        <h3 class="furniture-block-title ">Aenean Ru Bristique</h3>
                        <span class="stars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                        </span>
                    </div>
                    <div class="furniture-line-color mx-auto"></div>
                    <div class="mt-3 mb-2">
                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i class="fa fa-heart-o"
                                                                                             aria-hidden="true"></i>
                        </div>
                        <div class="float-left furniture-info-icon text-center"><i class="fa fa-exchange"
                                                                                   aria-hidden="true"></i></div>
                        <div class="furniture-block-price text-white float-right text-center pt-1 mr-2">$30.00</div>
                    </div>
                </div>
            </div>
            <div class="line-break"></div>
            <button type="button" class="load-more"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="filters-xl">
        <div class="container pr-0 pl-4">
            <div class="filters-side-container">
                <div class="side-categories">
                    <h5 class="modal-title bazar-title filter-title">
                        filters by
                        categories</h5>
                    <div class="filter-title-line mt-3"></div>
                    <div class="mt-4 mb-2">
                        <ul class=" list-unstyled">
                            <li class="">
                                <input type="checkbox" checked class="checkbox-categories"
                                       hidden
                                       id="furniture-1">
                                <label for="furniture-1" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Furniture
                                                   </span>
                                    <span class="category-amount-circle mr-1">3</span>
                                </label>
                            </li>
                            <li class="mb-2 mt-3">
                                <input type="checkbox" class="checkbox-categories" hidden
                                       id="furniture-2">
                                <label for="furniture-2" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Sofa
                                                   </span>
                                    <span class="category-amount-circle  mr-1">4</span>
                                </label>
                            </li>
                            <li class="mb-2 mt-3">
                                <input type="checkbox" class="checkbox-categories" hidden
                                       id="furniture-3">
                                <label for="furniture-3" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Chair
                                                   </span>
                                    <span class="category-amount-circle mr-1">5</span>
                                </label>
                            </li>
                            <li class="mb-2 mt-3">
                                <input type="checkbox" class="checkbox-categories" hidden
                                       id="furniture-4">
                                <label for="furniture-4" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Table
                                                   </span>
                                    <span class="category-amount-circle mr-1">5</span>
                                </label>
                            </li>
                            <li class="mb-2 mt-3">
                                <input type="checkbox" class="checkbox-categories" hidden
                                       id="furniture-5">
                                <label for="furniture-5" class="d-flex justify-content-between">
                                                   <span class="category-item ">
                                                       <i class="fa fa-chevron-right pr-1"></i>Bedroom
                                                   </span>
                                    <span class="category-amount-circle mr-1">5</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-categories mt-4">
                    <h5 class="modal-title bazar-title filter-title">Filters by price</h5>
                    <div class="filter-title-line mt-3 mb-3"></div>
                    <input id="filter-price-id-xl" type="text"/><br/>
                    <div class="d-flex mt-3 mb-5 justify-content-between">
                        <button class="filter-button-range text-uppercase text-white">Filter
                        </button>
                        <span class="filter-range-price py-1 px-3 font-weight-bold">$135 - $500</span>
                    </div>
                </div>
                <div class="side-categories mt-4">
                    <h5 class="modal-title bazar-title filter-title">Filters by color</h5>
                    <div class="filter-title-line mt-3 mb-3"></div>
                    <div class="mt-4 mb-2">
                        <ul class=" list-unstyled">
                            <li>
                                <input type="checkbox" checked class="checkbox-color" hidden
                                       id="red">
                                <label for="red">
                                                    <span class="category-color-box color-fa5f66">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Red</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="checkbox-color" hidden id="black">
                                <label for="black">
                                                    <span class="category-color-box color-454545">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Black</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="checkbox-color" hidden
                                       id="yellow">
                                <label for="yellow">
                                                    <span class="category-color-box color-e9e600">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Yellow</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="checkbox-color" hidden id="blue">
                                <label for="blue">
                                                    <span class="category-color-box color-0190d3">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Blue</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="checkbox-color" hidden id="pink">
                                <label for="pink">
                                                    <span class="category-color-box color-f72fe4">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Pink</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="checkbox-color" hidden id="green">
                                <label for="green">
                                                    <span class="category-color-box color-14d400">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                    <span class="category-color ml-2">Green</span>
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="side-categories mt-4">
                    <h5 class="modal-title bazar-title filter-title">Filters by size</h5>
                    <div class="filter-title-line mt-3 mb-3"></div>
                    <div class="mt-4 mb-2">
                        <ul class=" list-unstyled">
                            <li>
                                <input type="checkbox" checked class="size-box" hidden
                                       id="S-size">
                                <label for="S-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span class="category-size float-left ml-2">S</span>
                                    <span class="category-amount-circle mr-1 float-right">3</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="size-box" hidden id="M-size">
                                <label for="M-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span class="category-size float-left ml-2">M</span>
                                    <span class="category-amount-circle mr-1 float-right">4</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="size-box" hidden id="L-size">
                                <label for="L-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span class="category-size float-left ml-2">L</span>
                                    <span class="category-amount-circle mr-1 float-right">5</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="size-box" hidden id="XL-size">
                                <label for="XL-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span class="category-size float-left ml-2">XL</span>
                                    <span class="category-amount-circle mr-1 float-right">5</span>
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" class="size-box" hidden id="XX-size">
                                <label for="XX-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                    <span class="category-size float-left ml-2">XX</span>
                                    <span class="category-amount-circle mr-1 float-right">5</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-categories mt-4">
                    <h5 class="modal-title bazar-title filter-title">Filters by tags</h5>
                    <div class="filter-title-line mt-3 mb-3"></div>
                    <ul class="list-unstyled tags-list d-flex flex-wrap">
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden checked id="tag-1" class="tag">
                            <label for="tag-1" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Table</span>
                            </label>
                        </li>
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden id="tag-2" class="tag">
                            <label for="tag-2" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Chair</span>
                            </label>
                        </li>
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden id="tag-3" class="tag">
                            <label for="tag-3" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Hand Bag</span>
                            </label>
                        </li>
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden id="tag-4" class="tag">
                            <label for="tag-4" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Women</span>
                            </label>
                        </li>
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden id="tag-5" class="tag">
                            <label for="tag-5" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Fashion</span>
                            </label>
                        </li>
                        <li class="mb-1 mr-2">
                            <input type="checkbox" hidden id="tag-6" class="tag">
                            <label for="tag-6" class="px-2 py-1 border">
                                <i class="fa fa-tags filter-tags_icon"></i>
                                <span class="text-tag">Clothes</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>