<div class="modal fade d-xl-none" id="filter-xs" tabindex="-1" role="dialog" aria-labelledby="filter-xs-title" aria-hidden="true">
    <div class="modal-dialog modal-width" role="document">
        <div class="modal-content position-relative">
            <div class="d-flex justify-content-end">
                <button type="button" class="close close-button bg-dark " data-dismiss="modal">
                    <span class="text-white">&times;</span>
                </button>
            </div>
            <div class="container px-5 px-md-2">
                <aside class="filter-block text-dark mt-5">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8 mx-auto col-md-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="categories mx-auto">
                                            <h5 class="modal-title bazar-title filter-title" id="filter-xs-title">
                                                filters by
                                                categories</h5>
                                            <div class="filter-title-line mt-3"></div>
                                            <div class="mt-4 mb-2">
                                                <ul class=" list-unstyled">
                                                    <li class="">
                                                        <input type="checkbox" checked class="checkbox-categories"
                                                               hidden
                                                               id="furniture-1">
                                                        <label for="furniture-1" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Furniture
                                                   </span>
                                                            <span class="category-amount-circle mr-1">3</span>
                                                        </label>
                                                    </li>
                                                    <li class="mb-2 mt-3">
                                                        <input type="checkbox" class="checkbox-categories" hidden
                                                               id="furniture-2">
                                                        <label for="furniture-2" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Sofa
                                                   </span>
                                                            <span class="category-amount-circle  mr-1">4</span>
                                                        </label>
                                                    </li>
                                                    <li class="mb-2 mt-3">
                                                        <input type="checkbox" class="checkbox-categories" hidden
                                                               id="furniture-3">
                                                        <label for="furniture-3" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Chair
                                                   </span>
                                                            <span class="category-amount-circle mr-1">5</span>
                                                        </label>
                                                    </li>
                                                    <li class="mb-2 mt-3">
                                                        <input type="checkbox" class="checkbox-categories" hidden
                                                               id="furniture-4">
                                                        <label for="furniture-4" class="d-flex justify-content-between">
                                                   <span class="category-item">
                                                       <i class="fa fa-chevron-right pr-1"></i>Table
                                                   </span>
                                                            <span class="category-amount-circle mr-1">5</span>
                                                        </label>
                                                    </li>
                                                    <li class="mb-2 mt-3">
                                                        <input type="checkbox" class="checkbox-categories" hidden
                                                               id="furniture-5">
                                                        <label for="furniture-5" class="d-flex justify-content-between">
                                                   <span class="category-item ">
                                                       <i class="fa fa-chevron-right pr-1"></i>Bedroom
                                                   </span>
                                                            <span class="category-amount-circle mr-1">5</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                                        <div class="categories mx-auto">
                                            <h5 class="modal-title bazar-title filter-title">Filters by price</h5>
                                            <div class="filter-title-line mt-3 mb-3"></div>
                                            <input id="filter-price-id" type="text"/><br/>
                                            <div class="d-flex mt-3 mb-5 justify-content-between">
                                                <button class="filter-button-range text-uppercase text-white">Filter
                                                </button>
                                                <span class="filter-range-price py-1 px-3 font-weight-bold">$135 - $500</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="categories mx-auto">
                                            <h5 class="modal-title bazar-title filter-title">Filters by color</h5>
                                            <div class="filter-title-line mt-3 mb-3"></div>
                                            <div class="mt-4 mb-2">
                                                <ul class=" list-unstyled">
                                                    <li>
                                                        <input type="checkbox" checked class="checkbox-color" hidden
                                                               id="red">
                                                        <label for="red">
                                                    <span class="category-color-box color-fa5f66">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Red</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox-color" hidden id="black">
                                                        <label for="black">
                                                    <span class="category-color-box color-454545">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Black</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox-color" hidden
                                                               id="yellow">
                                                        <label for="yellow">
                                                    <span class="category-color-box color-e9e600">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Yellow</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox-color" hidden id="blue">
                                                        <label for="blue">
                                                    <span class="category-color-box color-0190d3">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Blue</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox-color" hidden id="pink">
                                                        <label for="pink">
                                                    <span class="category-color-box color-f72fe4">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Pink</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox-color" hidden id="green">
                                                        <label for="green">
                                                    <span class="category-color-box color-14d400">
                                                       <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                            <span class="category-color ml-2">Green</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="categories mx-auto">
                                            <h5 class="modal-title bazar-title filter-title">Filters by size</h5>
                                            <div class="filter-title-line mt-3 mb-3"></div>
                                            <div class="mt-4 mb-2">
                                                <ul class=" list-unstyled">
                                                    <li>
                                                        <input type="checkbox" checked class="size-box" hidden
                                                               id="S-size">
                                                        <label for="S-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                                            <span class="category-size float-left ml-2">S</span>
                                                            <span class="category-amount-circle mr-1 float-right">3</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="size-box" hidden id="M-size">
                                                        <label for="M-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                                            <span class="category-size float-left ml-2">M</span>
                                                            <span class="category-amount-circle mr-1 float-right">4</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="size-box" hidden id="L-size">
                                                        <label for="L-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                                            <span class="category-size float-left ml-2">L</span>
                                                            <span class="category-amount-circle mr-1 float-right">5</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="size-box" hidden id="XL-size">
                                                        <label for="XL-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                                            <span class="category-size float-left ml-2">XL</span>
                                                            <span class="category-amount-circle mr-1 float-right">5</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="size-box" hidden id="XX-size">
                                                        <label for="XX-size" class="d-block clearfix">
                                                    <span class="category-size-box float-left mt-1">
                                                       <i class="fa fa-check" aria-hidden="true"></i></span>
                                                            <span class="category-size float-left ml-2">XX</span>
                                                            <span class="category-amount-circle mr-1 float-right">5</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mx-md-auto">
                                        <div class="categories mx-auto">
                                            <h5 class="modal-title bazar-title filter-title">Filters by tags</h5>
                                            <div class="filter-title-line mt-3 mb-3"></div>
                                            <ul class="list-unstyled tags-list d-flex flex-wrap">
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden checked id="tag-1" class="tag">
                                                    <label for="tag-1" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Table</span>
                                                    </label>
                                                </li>
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden id="tag-2" class="tag">
                                                    <label for="tag-2" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Chair</span>
                                                    </label>
                                                </li>
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden id="tag-3" class="tag">
                                                    <label for="tag-3" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Hand Bag</span>
                                                    </label>
                                                </li>
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden id="tag-4" class="tag">
                                                    <label for="tag-4" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Women</span>
                                                    </label>
                                                </li>
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden id="tag-5" class="tag">
                                                    <label for="tag-5" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Fashion</span>
                                                    </label>
                                                </li>
                                                <li class="mb-1 mr-2">
                                                    <input type="checkbox" hidden id="tag-6" class="tag">
                                                    <label for="tag-6" class="px-2 py-1 border">
                                                        <i class="fa fa-tags filter-tags_icon"></i>
                                                        <span class="text-tag">Clothes</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>




