<div class="modal fade" id="quickView" tabindex="-1" role="dialog" aria-labelledby="quickView-button"
     aria-hidden="true">
    <div class="modal-dialog mx-auto" role="document">
        <div class="modal-content position-relative">
            <div class="d-flex justify-content-end">
                <button type="button" class="close close-button bg-dark " data-dismiss="modal">
                    <span class="text-white">&times;</span>
                </button>
            </div>
            <div class="container px-2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-10 mx-auto col-md-12">
                            <div class="row">
                                <div class="modal-pic-container col-md-6 col-xl-5">
                                    <div class="furniture-block-modal product-pic1 mx-auto mx-md-0"></div>
                                </div>
                                <div class="modal-info-container col-md-6 col-xl-7 pl-md-0 pl-xl-3">
                                    <div class="furniture-info my-3">
                                        <h3 class="furniture-block-title quickView-title">Aenean Ru Bristique</h3>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star-o "></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="furniture-review">(0 reviews)</span>
                                    </div>
                                    <div class="modal-color"></div>
                                    <div class="mt-3 mb-5 mr-5 clearfix mb-md-4 mt-md-4">
                                        <div class="float-left text-center pt-1 mr-2 text sale-price"><s>$350.00</s>
                                        </div>
                                        <div class="new-price text-white float-left text-center px-2 py-1">$250.00</div>
                                    </div>
                                    <div class="modal-color mb-3 mb-md-4 d-none d-md-block d-xl-block"></div>
                                    <div class="clearfix mb-3">
                                        <a href="#"
                                           class="button-cart cart-modal text-decoration-none text-uppercase text-white px-2 float-left"><i
                                                class="fa fa-shopping-basket pr-2" aria-hidden="true"></i>add to
                                            cart</a>
                                        <div class="float-left furniture-info-icon text-center ml-2 mr-1"><i
                                                class="fa fa-heart-o" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="modal-color mb-3 d-md-none d-xl-none"></div>
                                    <div class="modal-info-block">
                                        <h3 class="modal-info-title">Quick Overview</h3>
                                        <p class="modal-info-text">Nam tristique porta ligula, vel viverra sem eleifend
                                            nec.
                                            Nulla sed purus augue, eu euis mod tellus. Nam mattis eros tis sagittis.
                                            Vestibulum suscipit cursus biben.
                                        </p>
                                        <div class="modal-color mb-3 mb-md-4 d-none d-xl-block"></div>
                                        <div class="availability-stock mb-4 d-xl-flex flex-xl-column">
                                        <span class="stock-title mr-1 mb-xl-3">Availability: <span
                                                class="stock pl-1">In Stock</span></span>
                                            <span class="stock-title">Category: <span
                                                    class="stock pl-1">Furniture</span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer-container col-md-12 offset-xl-5 col-xl-7">
                                    <div class="modal-color mb-4"></div>
                                    <div class="social-media-block d-flex flex-wrap justify-content-center mb-4 mx-md-auto justify-content-lg-start">
                                        <a href="#" class="text-decoration-none social-button px-2 py-2 mr-1 mb-3"><i
                                                class="fa fa-facebook pr-2" aria-hidden="true"></i>Share</a>
                                        <a href="#" class="text-decoration-none social-button px-2 py-2 mr-1 mb-3"><i
                                                class="fa fa-google-plus pr-2" aria-hidden="true"></i>Google+</a>
                                        <a href="#" class="text-decoration-none social-button px-2 py-2 mr-1 mb-3"><i
                                                class="fa fa-twitter pr-2" aria-hidden="true"></i>Tweet</a>
                                        <a href="#" class="text-decoration-none social-button px-2 py-2 mr-1 mb-3"><i
                                                class="fa fa-pinterest-p pr-2" aria-hidden="true"></i>Pinterest</a>
                                        <a href="#" class="text-decoration-none social-button px-2 py-2 mr-1 mb-3"><i
                                                class="fa fa-linkedin pr-2" aria-hidden="true"></i>Linkedin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>