<div class="container mb-4 mt-4 stocks-block d-xl-flex flex-column flex-wrap align-content-between justify-content-between text-center px-0">
    <a href="#" class="text-decoration-none d-none d-md-inline-block m-auto mb-md-4 m-xl-0 mr-xl-4">
        <div class="stocks-image img-fluid">
            <div class="stocks-image-shadow">
                <div class="stocks-image-text pl-4">
                    <h3 class="image-line1 text-white text-uppercase mb-0">guest room</h3>
                    <h1 class="image-line2 text-white text-uppercase">sofa</h1>
                    <span class="discount text-white pl-2 pr-2">-20%</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="text-decoration-none d-inline-block m-auto mb-sm-2 mb-md-4 m-xl-0">
        <div class="chair-block d-flex">
            <div class="chair "></div>
            <div class="chairs-text flex-grow-1 pl-4 pt-4">
                <h1 class="text-body text-uppercase text-line1 font-weight-bold mb-0"><span class="pr-1">office</span>chair</h1>
                <h3 class="text-body text-uppercase text-line2 font-weight-bold mb-0">collection</h3>
                <span class="price font-weight-bold">$200.00</span>
            </div>
            <div class="chair2"></div>
        </div>
    </a>
    <a href="#" class="text-decoration-none d-inline-block m-auto mb-md-4 m-xl-0">
        <div class="special-block d-flex">
            <div class="bed-img img-fluid"></div>
            <div class="pt-5 pl-2">
                <h3 class="special-block-text1 text-uppercase mb-lg-0 font-weight-normal"><span class="font-weight-bold pr-md-2">special</span>collection</h3>
                <h3 class="text-body special-block-text2 text-uppercase pl-3">save up 45% of furniture</h3>
            </div>
        </div>
    </a>
</div>