<section class="bazar-features">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 bazar-features__item w-100 text-center">
                <span class="bazar-features__item__icon position-absolute"><i class="fa fa-truck d-flex align-items-center justify-content-center" aria-hidden="true"></i></span>
                <h3 class="bazar-features__item__title m-0">Free Shipping</h3>
                <p class="bazar-features__item__description m-0">all order</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bazar-features__item w-100 text-center">
                <span class="bazar-features__item__icon position-absolute"><i class="fa fa-headphones d-flex align-items-center justify-content-center" aria-hidden="true"></i></span>
                <h3 class="bazar-features__item__title m-0">24/7 customer</h3>
                <p class="bazar-features__item__description m-0">support</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bazar-features__item w-100 text-center">
                <span class="bazar-features__item__icon position-absolute"><i class="fa fa-reply-all d-flex align-items-center justify-content-center" aria-hidden="true"></i></span>
                <h3 class="bazar-features__item__title m-0">money back</h3>
                <p class="bazar-features__item__description m-0">guarantee</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 bazar-features__item w-100 text-center">
                <span class="bazar-features__item__icon position-absolute"><i class="fa fa-bullhorn d-flex align-items-center justify-content-center" aria-hidden="true"></i></span>
                <h3 class="bazar-features__item__title m-0">member discount</h3>
                <p class="bazar-features__item__description m-0">first oredr</p>
            </div>
        </div>
    </div>
</section>
