<footer class="footer py-4">
<div class="container-fluid">
    <div class="row">
        <div class="col-5 offset-1 offset-md-2 col-md-4 offset-lg-2 col-lg-2 text-white">
            <h2 class="footer-information-title mb-4">Information</h2>
            <ul class="footer-information pl-0">
            <li><a href="#" class="information-links text-decoration-none text-capitalize">about us</a></li>
            <li><a href="#" class="information-links text-decoration-none text-capitalize">privacy</a></li>
            <li><a href="#" class="information-links text-decoration-none text-capitalize">conditions</a></li>
            <li><a href="#" class="information-links text-decoration-none text-capitalize">online support</a></li>
            </ul>
        </div>
        <div class="col-5 col-md-4 col-lg-2 text-white">
            <h2 class="footer-information-title mb-4">My Account</h2>
            <ul class="footer-information pl-0">
                <li><a href="#" class="information-links text-decoration-none text-capitalize">login</a></li>
                <li> <a href="#" class="information-links text-decoration-none text-capitalize">my cart</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">wishlist</a></li>
                <li> <a href="#" class="information-links text-decoration-none text-capitalize">checkout</a></li>
            </ul>
        </div>
        <div class="col-5 offset-1 col-sm-5 offset-md-2 col-md-4 offset-lg-0 col-lg-2 text-white">
            <h2 class="footer-information-title mb-4">information</h2>
            <ul class="footer-information pl-0">
                <li><a href="#" class="information-links text-decoration-none text-capitalize">specials</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">new products</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">best sellers</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">our stores</a></li>
            </ul>
        </div>
        <div class="col-5 col-md-4 col-lg-2 text-white mb-5">
            <h2 class="footer-information-title mb-4">orders</h2>
            <ul class="footer-information pl-0 mb-4">
                <li><a href="#" class="information-links text-decoration-none text-capitalize ">payment options</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">shipping and delivery</a></li>
                <li><a href="#" class="information-links text-decoration-none text-capitalize">returns</a></li>
                <li> <a href="#" class="information-links text-decoration-none text-capitalize">shipping</a></li>
            </ul>
            <div class="cards-container">
                <img src="img/cards/visa.png" alt="" class="cards mr-1 mb-3">
                <img src="img/cards/master-card.png" alt="" class="cards mr-1 mb-3">
                <img src="img/cards/dacover.png" alt="" class="cards mr-1 mb-3">
                <img src="img/cards/blue-card.png" alt="" class="cards mr-1 mb-3">
                <img src="img/cards/paypal.png" alt="" class="cards mb-3">
            </div>
        </div>
    </div>
</div>
    <div class="d-flex flex-wrap footer-line container-fluid pb-4 pt-4">
<!--        <div class="d-inline-block col-auto p-0 pr-lg-3 pl-lg-3 col-lg-4"></div>-->
        <p class="footer-text col-12 col-md-6 offset-lg-4 col-lg-4 text-center mb-0 pb-4 pb-md-0">
            <span class="copy">&copy; Copyright&nbsp;2016</span>
            <span class="footer-span">Bazar</span>All rights reserved
        </p>
        <div class="icons-block col-12 col-md-6 col-lg-4 pl-lg-5 text-center text-md-right text-lg-left">
            <a href=""><i class="fa fa-twitter mr-3 icons" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook mr-3 icons" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube mr-3 icons" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus mr-3 icons" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin mr-3 icons" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-pinterest-p icons" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>