<section class="bazar-gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3 class="bazar-title--orange">furniture gallery</h3>
                <hr class="bazar-hline">
                <div class="bazar-gallery__tabs">
                    <nav class="tabs-nav">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">featured</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">top seller</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">sale off</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">top rated</a>
                        </div>
                    </nav>
                    <div class="tab-content  px-sm-0 bazar-gallery-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured">
                                <!--Carousel Wrapper-->
                            <div id="gallery-slider-products" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner bazar-gallery__iner">
                                    <div class="carousel-item active">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/11.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/12.png" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/13.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/14.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/15.png" alt="Second slide">
                                    </div>
                                </div>
                                <div class="gallery-slide-nav d-flex justify-content-center align-items-center m-0 p-0">
                                    <a class="bazar-next-slide" href="#gallery-slider-products" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    <ol class="carousel-indicators bazar-carousel-indicator__thumbnail">
                                        <li data-target="#gallery-slider-products" data-slide-to="0" class="active d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products" data-slide-to="1" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/11.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products" data-slide-to="2" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/12.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products" data-slide-to="3" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/13.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products" data-slide-to="4" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/14.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products" data-slide-to="5" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/15.png" alt="First slide"></li>
                                    </ol>
                                    <a class="bazar-next-slide" href="#gallery-slider-products" role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                                <!--/.Carousel Wrapper-->
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!--Carousel Wrapper-->
                            <div id="gallery-slider-products-2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner bazar-gallery__iner">
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">

                                        </div>
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide">
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/11.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/12.png" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/13.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/14.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/15.png" alt="Second slide">
                                    </div>
                                </div>
                                <div class="gallery-slide-nav d-flex justify-content-center align-items-center m-0 p-0">
                                    <a class="bazar-next-slide" href="#gallery-slider-products-2" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    <ol class="carousel-indicators bazar-carousel-indicator__thumbnail">
                                        <li data-target="#gallery-slider-products-2" data-slide-to="0" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-2" data-slide-to="1" class="active d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/11.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-2" data-slide-to="2" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/12.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-2" data-slide-to="3" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/13.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-2" data-slide-to="4" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/14.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-2" data-slide-to="5" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/15.png" alt="First slide"></li>
                                    </ol>
                                    <a class="bazar-next-slide" href="#gallery-slider-products-2" role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                                <!--/.Carousel Wrapper-->
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <!--Carousel Wrapper-->
                            <div id="gallery-slider-products-3" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner bazar-gallery__iner">
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/11.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/12.png" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/13.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/14.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/15.png" alt="Second slide">
                                    </div>
                                </div>
                                <div class="gallery-slide-nav d-flex justify-content-center align-items-center m-0 p-0">
                                    <a class="bazar-next-slide" href="#gallery-slider-products-3" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    <ol class="carousel-indicators bazar-carousel-indicator__thumbnail">
                                        <li data-target="#gallery-slider-products-3" data-slide-to="0" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-3" data-slide-to="1" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/11.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-3" data-slide-to="2" class="active d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/12.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-3" data-slide-to="3" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/13.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-3" data-slide-to="4" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/14.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-3" data-slide-to="5" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/15.png" alt="First slide"></li>
                                    </ol>
                                    <a class="bazar-next-slide" href="#gallery-slider-products-3" role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                                <!--/.Carousel Wrapper-->
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <!--Carousel Wrapper-->
                            <div id="gallery-slider-products-4" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner bazar-gallery__iner">
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/11.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/12.png" alt="Third slide">
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/13.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/14.png" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="bazar-product-nav">
                                            <ul class="product-nav-wrapper">
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Quick View"><i class="fa fa-eye" aria-hidden="true"></i></li>
                                                <li class="product-nav-wrapper--item" data-toggle="tooltip" data-placement="right" title="Add to Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                        <div class="bazar-product-desc">
                                            <div class="gallery-product-price d-flex align-items-center justify-content-center">
                                                <h3 class="gallery-product-price--item">$120.00</h3>
                                                <h4 class="gallery-product-price--disc-item">$160.00</h4>
                                            </div>
                                            <div class="gallery-product-desc d-flex align-items-center flex-column justify-content-center">
                                                <h3 class="gallery-product-desc--title">Aenean Ru Bristique</h3>
                                                <div class="gallery-product-desc--rated"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                        <img class="mx-auto d-block img-fluid" src="img/products/top-seller/15.png" alt="Second slide">
                                    </div>
                                </div>
                                <div class="gallery-slide-nav d-flex justify-content-center align-items-center m-0 p-0">
                                    <a class="bazar-next-slide" href="#gallery-slider-products-4" role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    <ol class="carousel-indicators bazar-carousel-indicator__thumbnail">
                                        <li data-target="#gallery-slider-products-4" data-slide-to="0" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/10.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-4" data-slide-to="1" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/11.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-4" data-slide-to="2" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/12.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-4" data-slide-to="3" class="active d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/13.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-4" data-slide-to="4" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/14.png" alt="First slide"></li>
                                        <li data-target="#gallery-slider-products-4" data-slide-to="5" class="d-flex justify-content-center align-items-center thumbnail--item"><img class="d-block img-fluid" src="img/products/top-seller/15.png" alt="First slide"></li>
                                    </ol>
                                    <a class="bazar-next-slide" href="#gallery-slider-products-4" role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                                <!--/.Carousel Wrapper-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="bazar-gallery__baner">
                    <div class="baner__info">
                        <p class="info--price-info">from <span class="info--price">$50.80</span></p>
                        <h3 class="info--title">Bedroom Bed</h3>
                        <a href="#" class="info--button">shop now</a>
                    </div>
                    <div class="baner__img-container">
                        <img src="img/products/bedroom-bed-banner.png" alt="" class="img-fluid baner__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>