<header class="bazar-header">
    <div class="container">
        <div class="row bazar-header__content-header justify-content-between align-items-center">
            <div class="content-header__contact d-flex col-5"><a href="tel:23003560222" class="contact-tel">2300 - 3560 - 222</a></div>
            <div class="content-header__logo d-flex justify-content-center col-2"><a href="#" class="logo-item"><img src="img/logo.png" alt="BazarLogo" class="logo-link"></a></div>
            <div class="content-header__cart col-5"><a href="#" class="cart-item" data-toggle="modal" data-target="#empty-cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="cart-item-qty">0</span></a></div>
        </div>
    </div>
</header>
<nav class="bazar-main-nav ">
    <div class="container h-100">
        <div class="row nav-container h-100 align-items-center justify-content-between">
            <ul class="main-nav-mobile__link collapse" id="mobile-menu">
                <li class="link-item">
                    <a href="" class="item item-active">Home</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Slider</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Features</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Stocks</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Products</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Gallery</a>
                </li>
                <li class="link-item">
                    <a href="" class="item">Blog</a>
                </li>
            </ul>
            <div class="col-4">
                <div class="search input-group">
                    <input type="text" class="search-input form-control" placeholder="Search products...">
                    <div class="input-group-append">
                        <button class="btn search-btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-8 text-right">
                <nav class="main-nav d-lg-inline-block d-none">
                    <a href="#" class="main-nav__link link--active">Home</a>
                    <a href="" class="main-nav__link">Slider</a>
                    <a href="" class="main-nav__link">Features</a>
                    <a href="" class="main-nav__link">Stocks</a>
                    <a href="" class="main-nav__link">Products</a>
                    <a href="" class="main-nav__link">Gallery</a>
                    <a href="" class="main-nav__link">Blog</a>
                </nav>
                <a href="#" class="burger-btn d-lg-none"  data-toggle="collapse" data-target="#mobile-menu">
                    <span class="burger-btn-element"></span>
                </a>
            </div>
        </div>
    </div>
</nav>