<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="bazar-modal modal-content">

            <div class="bazar-modal-header">
                <a class="close bg-dark text-light bazar-close-modal" type="button" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>

            <div class="bazar-modal-content modal-body">
                <h2 class="bazar-modal-title">LOGIN</h2>

                <form action="" class="bazar-login-form" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="bazar-form-input form-control" placeholder="Name/Email*" required name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="bazar-form-input form-control" placeholder="Password*" required name="password">
                    </div>
                    <button type="button" id="sendlogin" class="bazar-button btn-lg bg-dark text-light">login</button>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="regModal">
    <div class="modal-dialog">
        <div class="bazar-modal modal-content">

            <div class="bazar-modal-header">
                <a class="close bg-dark text-light bazar-close-modal" type="button" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>

            <div class="bazar-modal-content modal-body">
                <h2 class="bazar-modal-title">registration</h2>

                <form action="" class="bazar-login-form" autocomplete="on">
                    <div class="form-group">
                        <input type="text" class="bazar-form-input form-control" placeholder="Name/Email*" required name="username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="bazar-form-input form-control" placeholder="Email*" required name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="bazar-form-input form-control" placeholder="Password*" required name="password">
                    </div>
                    <button type="button" id="registration" class="bazar-button btn-lg bg-dark text-light">register</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="empty-cart" tabindex="-1" role="dialog" aria-labelledby="emptyCart" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="bazar-modal modal-content">
            <div class="bazar-modal-header">
                <a class="close bg-dark text-light bazar-close-modal" type="button" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>

            <h3 class="bazar-modal--title-empty-cart">Your cart is empty</h3>
            <p class="bazar-modal--desc-empty-cart">But it's never too late to fix it :)</p>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cart" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog bazar-modal-xl">
        <div class="bazar-modal modal-content">
            <div class="bazar-modal-header">
                <a class="close bg-dark text-light bazar-close-modal" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <div class="bazar-modal-content modal-body">
<!--                <div class="bazar-modal__cart-item container-fluid">-->
<!--                    <div class="row">-->
<!--                        <div class="cart-item&#45;&#45;img col-6 col-md-4 col-xl-3">-->
<!--                            <img src="img/products/furniture/14.png" alt="" class="img-fluid img-prod">-->
<!--                        </div>-->
<!--                        <div class="cart-item&#45;&#45;price col-6 col-md-6 col-xl-3">-->
<!--                            <p class="title-prod">Sunbaby Magic Bear Chair</p>-->
<!--                            <span class="discount-price">$350.00</span>-->
<!--                            <span class="price-modal">$250.00</span>-->
<!--                        </div>-->
<!--                        <div class="cart-item&#45;&#45;qty col-8 col-sm-6 col-md-6 col-xl-4 offset-md-4 offset-xl-0">-->
<!--                            <div>Quantity:</div>-->
<!--                            <input class="quantity" min="1" name="quantity" value="1" type="number">-->
<!--                            <button onclick="this.parentNode.querySelector('.quantity').stepDown()" class="btn-quantity btn-quantity&#45;&#45;minus" >-</button>-->
<!--                            <button onclick="this.parentNode.querySelector('.quantity').stepUp()" class=" btn-quantity btn-quantity&#45;&#45;plus">+</button>-->
<!--                        </div>-->
<!--                        <div class="cart-item&#45;&#45;sum col-4 col-sm-6 col-md-2 col-xl-2 align-items-center">-->
<!--                            $250.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--<div class="bazar-modal-content__control d-flex justify-content-between">
                    <div class="control--left-btn">
                        <a href="#" data-dismiss="modal" aria-label="Close" class="btn-control btn-control--continue">continue</a>
                    </div>
                    <div class="control--right-btn"><div class="price-cart d-flex">Total: <div class="price-cart-value"> $1000</div></div>
                        <a href="#" class="btn-control btn-control--buy">buy now</a></div>
                </div>-->
            </div>
        </div>
    </div>
</div>