<nav class="bazar-navbar d-flex navbar-light">
    <div class=" container">
        <div class="row justify-content-between">
            <ul class="navbar__left-section text-light">
                <li class="left-section__item"><span>USD</span></li>
                <li class="left-section__item"><span>English</span></li>
                <li class="left-section__item"><a class="item-link">Help</a></li></li>
            </ul>
            <ul class="navbar__right-section text-light">
                <li class="right-section__item"><i class="fa fa-user" aria-hidden="true"></i> <a class="bazar-login-btn" data-toggle="modal" data-target="#loginModal">Login</a></li>
                <li class="right-section__item"><i class="fa fa-lock" aria-hidden="true"></i> <a class="bazar-login-btn" data-toggle="modal" data-target="#regModal">Register</a></li>
            </ul>
        </div>
    </div>
</nav>