<div class="bazar-top-slider">
    <div class="container">
        <div class="row">
            <div class="bazar-top-slider__area w-100 carousel slide" id="carouselControls" data-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img class="d-block" src="./img/top-slider/1.jpg" alt="First slide">
                        <div class="bazar-top-slider__area__content position-absolute d-flex flex-column justify-content-center align-items-center carousel-caption">
                            <h3 class="bazar-top-slider__area--title m-0">indoor <strong>furniture</strong></h3>
                            <p class="bazar-top-slider__area__description">save up to 50% of all furniture</p>
                            <a href="#" class="bazar-top-slider__area__btn btn">shop now</a>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <img class="d-block" src="./img/top-slider/2.jpg" alt="Second slide">
                        <div class="bazar-top-slider__area__content position-absolute d-flex flex-column justify-content-center align-items-center carousel-caption">
                            <h3 class="bazar-top-slider__area--title m-0">indoor <strong>furniture</strong></h3>
                            <p class="bazar-top-slider__area__description">save up to 50% of all furniture</p>
                            <a href="#" class="bazar-top-slider__area__btn btn">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="slider-control d-flex w-100 position-absolute">
                    <a class="slider-control--item flex-grow-1 d-flex justify-content-center align-items-center" href="#carouselControls" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="slider-control--item flex-grow-1 d-flex justify-content-center align-items-center" href="#carouselControls" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>