<section id="subscribe-block">
    <div class="container-fluid d-flex h-100 align-items-center justify-content-center">
        <form class="form-inline form col-12 col-lg-7 col-md-10 justify-content-center">
            <label class="mb-2 mr-1 d-none d-md-inline-block form-title" for="subscribe-input">NEWSLETTER:</label>
            <div class="input-group input-focus mb-2 justify-content-center container-fluid d-flex col-sm-8">
                <div class="input-group-prepend input-field">
                    <span class="input-group-text bg-white border-0 rounded-left"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <div class="input-container form-control flex-grow-1 border-0 rounded-right p-0 pl-1">
                    <input type="text" class="form-control border-0 border-white subscribe-field w-100"
                           id="subscribe-input" placeholder="Subscribe to newsletter">
                </div>
                <button type="submit" class="btn btn-primary mb-2 bg-white border-white ml-2"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</section>
