@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "section/components.scss";
@import "section/_navbar";
@import "section/_header";
@import "section/slider";
@import "section/features";
@import "section/subscribeForm";
@import "section/modal";
@import "section/footer";
@import "section/stocks";
@import "section/blog";
@import "section/gallery.scss";
@import "section/furniture";
@import "section/modal_filters";
@import "section/modal_quickView";

body {
  font-family: $font;
}

a {
  &:hover {
    text-decoration: none;
  }
}